.tituloE{
    color:#FF7001;
    padding: 3%;
    font-size: 250%;
    font-family: 'Koulen';
  }
  .container {
    display: flex;
    width: 100%;
  }

  .cardsInfo {
    flex: 0 0 60%; 
  }

  .formAdd {
    flex: 0 0 40%; 
    background-color: #D9D9D9;
   
  }