.cuerpo {
    background-color: #AAD6FB;
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    color: white;
    font-size: 420%;
    text-align: left;
    padding: 2%;
}
 
.car {
  
  background-color: #FEF684;
  text-align: center;
}
.car h3{
  font-size: 30px;
}
.car-inner {
  display: flex;
}

.car-item {
  flex: 0 0 33.33%; 
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-oval {
  border-radius: 50%;
  max-width: 300px; 
  height: 300px; 
  object-fit: cover; 
}

.blur {
  filter: blur(5px); 
}

.focused {
  max-width: 350px; 
  height: 350px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
.espacio{
  min-height: 110px;
}
.espacio1{
  min-height: 110px;
}


.car-control-prev,
.car-control-next {
  background-color: #BEAFE5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6vh;
    font-size: 3vh;
    padding: 3vh;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  z-index: 1000;
  
}

.car-control-prev {
  left: 10px;
}

.car-control-next {
  right: 10px;
}



.circle-background {
  position: absolute; 
  width: 700px; 
  height: 450px; 
  background-color: #0D89F4; 
  border-radius: 50%; 
  top: 50%; 
  left: -190px; 
  transform: translate(-50%, -50%); 

}

.info-container {
  margin: 20px auto; 
  text-align: justify; 
  background-color: white;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  position: relative; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
.info-container h3{
  font-size: 140%;
}

.info-img {
  position: absolute; 
  width: 350px; 
  height: 350px; 
  left: -190px; 
  top: 50%; 
  transform: translateY(-50%); 
  border-radius: 50%;
  overflow: hidden; 

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  object-fit: cover; 
}

.info-content {
  padding-left: 160px;
  padding-right: 30px;
  
}
.info-content h3{
  text-align: left;
  font-size: 120%;
  
}



.info-container p {
  color: black;
  font-size: 100%;
}
.nombre-egresado {
  background-color: #FF7001;
  color: white;
  padding: 10px 20px; 
  border-radius: 20px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.divBoton{
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: right;
}
@media (max-width: 768px) {
  .circle-background {
    display: none; 
  }
  h2 {

    font-size: 250%;
    padding-bottom: 0%;
    text-align: center;
}
 

  .car-item {
      display: none; 
    }

    .car-item.focused {
      display: block; 
    }
  .info-content {
    padding-left: 30px;
    padding-top: 0%;
    
  }
  .info-container{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
  }
  .info-img {
    position: relative;
    width: 100%;
    height: 200px; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    object-fit: cover; 
    margin: 0 auto;
    left: 1%;
    top: none;
    transform: none;
    margin-bottom: 1%;
  }
  .espacio1{
    min-height: 1px;
  }
}