/*BOTON DEL ADMINISTRADOR HOME*/
#btnHome-Administrador {
  padding: 2vh 2vh;
  background-color: #FF2B9D;
  color: #ffffff;
  box-shadow: none; /* Elimina la sombra */ 
  width: 30vh; /* Cambia el ancho del botón */
  height: 8vh;
  border:none;
  font-size: 3vh;
  font-family:'Oswald', sans-serif;
  text-align: center;
}
.btnAdmin-Home {
  padding-top: 2vh;
  padding-left: 160vh;
}
/*HOME GENERAL*/
