/*BOTON DEL ADMINISTRADOR HOME*/
#btnHome-Administrador {
  padding: 2vh 2vh;
  background-color: #FF2B9D;
  color: #ffffff;
  box-shadow: none; /* Elimina la sombra */ 
  width: 30vh; /* Cambia el ancho del botón */
  height: 8vh;
  border:none;
  font-size: 3vh;
  font-family:'Oswald', sans-serif;
  text-align: center;
}
.btnAdmin-Home {
  padding-top: 2vh;
  padding-left: 160vh;
}
/*HOME GENERAL*/
body {
  background-color: white; 
  width: 100%;
}
.navbar {
  background-color: #BADF3A;
  color: white;
  width: 100%;
  height: 15vh;
}
.content {
    padding: 0px;
}
  
.titulo h1{
    font-family: 'Koulen', sans-serif;
    font-size: 7vh;
    color: #0D89F4;
    padding-top: 10vh;
    padding-left: 5%;
    margin-bottom: 2vh;
}
.titulo h2{
    font-family: 'Koulen', sans-serif;
    font-size: 8vh;
    padding-top: 2vh;
    color: #FF7001;
    padding-left: 5%;
    margin-bottom: 2vh;
}

.container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.sidebar {
    margin-right: 5vh;
    margin-left: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centra el sidebar horizontalmente */
    padding: 0 5%; /* Ajusta el relleno según sea necesario */
}
 /* PARA CONTAINER (TEXT-BOX Y CARRUSEL) */
.carousel-container {
    flex: 2; 
}
.text-box {
    background-color: #FFC497;
    color:black;
    border-radius: 5vh;
    padding: 2vh;
    margin-bottom: 5%; /* Espacio entre el recuadro y el carrusel */
    max-width: 90%;
}
.text-box .text-content p{
  padding-top: 4vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 4vh;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 1.5vmax;
}
@media screen and (max-width: 768px) {
  .text-box {
      max-width: 100%; /* Hacer el text box ocupar el ancho completo en pantallas pequeñas */
  }
}

.carousel-item img {
  width: 80vh;
  height: auto;
}

/* PARA LA ANIMACION */
.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.image-left img,
.image-right img {
    width: 100%;
    height: auto;
}

.image-left {
  flex: 1; 
  transform: translateX(-100%);
  animation: slideInLeft 2s forwards;
}
.image-right {
  flex: 1; 
  transform: translateX(100%);
  animation: slideInRight 2s forwards;
}
.animation-text {
  position: relative;
  z-index: 1; /* Para que el texto esté por encima de las imágenes */
  font-size: 24px;
  animation: slideIn 2s forwards;
}
.animation-text p {
    font-family:'Oswald', sans-serif;
    text-align: center;
    font-size: 5.5vw;
    max-width: 100%;
}
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}
  
@keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  /* Estilos adicionales para pantallas pequeñas */
  .animation-text p {
      font-size: 8vw; /* Cambia el tamaño del texto para adaptarse a pantallas más pequeñas */
  }
}

/* PARA MISION-VISION-PERFIL ESTUDIANTE*/

.container-misionvision {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box-mision {
    background-color: #AAD6FB;
    color:black;
    border-radius: 5vh;
    padding: 5vh;
    margin-bottom: 5vh; /* Espacio entre el recuadro y el carrusel */
}
.text-box-vision {
    background-color: #FEF684;
    color:black;
    border-radius: 5vh;
    padding: 5vh;
    margin-bottom: 5vh; /* Espacio entre el recuadro y el carrusel */
}
.text-box-perfilestudiante {
  background-color: #BEAFE5;
  color:black;
  border-radius: 5vh;
  padding: 5vh;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.text-box-vision .text-content1 p,
.text-box-mision .text-content1 p,
.text-box-perfilestudiante .text-content1 p {
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.5vmax;
}

.mision,
.vision {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
.mision,
.vision img{
    width: 300px; 
    height: 300px;
    text-align: center;
}
.text-box-mision h1,
.text-box-vision h1,
.text-box-perfilestudiante h1 {
    padding-top: 5px;;
    color: black;
    font-family: 'Koulen', sans-serif;
    font-size: 40px;
    text-align: center;
}
.sidebar-mision, .sidebar-vision {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.container-perfilestudiante {
  justify-content: center;
  align-items: center;
}