.mod {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  
  .mod-content {
    background-color: #FFCEE8;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-height: 90%; /* Altura máxima del contenedor */
    overflow-y: auto;
  }
  
  .clo {
    
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: #FF7001; /* Color naranja para el botón de cierre */
    text-align: right;
    font-family: 'Oswald';
    
  }
  
  .for-group {
    margin-bottom: 10px;
  }
  
  .mod label {
    font-family: 'Oswald';
  }
  
  .mod input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
  }
  
  .mod h2 {
    color: #FF7001;
    text-align: center;
    font-size: 150%;
    font-family: 'Oswald';
  }
  
  .bot-guardar {
    background-color: #FF7001;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 100%;
  }

  .bot-borrar {
    background-color: #FFA198;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 100%;
  }