.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Change height to 100% */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1005;
  overflow-y: auto; /* Allow vertical scrolling for the entire modal */
}

.modal-content {
  background-color:rgba(228, 228, 228, 1);
  padding: 40px; /* Increased padding for all sides */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Para que el botón de cierre esté posicionado correctamente */
  max-width: 500px; /* Limit the maximum width of the modal content */
  width: 100%; /* Set width to 100% */
  z-index: 1003;
  font-family: 'Oswald', sans-serif;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: black; /* Color naranja para el botón de cierre */
}

.form-group {
  margin-bottom: 20px; /* Increased margin between form groups */
  text-align: left;
}
.form-groupf {
  margin-bottom: 20px; /* Increased margin between form groups */
  text-align: left;
}


label {
  font-weight: bold;
  
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
}

h2 {
  color: #FF7001;
  text-align: center;
  font-family: 'Koulen';
  font-size: 250%;
}

.boton-guardar {
  background-color: #FF7001;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 100%;
}
.boton-guardarf {
  background-color: #FF7001;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 100%;
}


button{
  border-radius: 20px;
  background-color: #BADF3A;border-color: #BADF3A;
  color: black;
  
}