.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-left: 30%;
    padding-right: 30%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  
  .modal-content {
    background-color: #E0EEAD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; /* Para que el botón de cierre esté posicionado correctamente */
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: #FF2A9D; /* Color naranja para el botón de cierre */
    text-align: right;
    
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .modal label {
    font-weight: bold;
  }
  
  .modal input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
  }
  
  .modal h2 {
    color: #FF2A9D;
    text-align: center;
    font-size: 150%;
  }
  
  .boton-guardar {
    background-color: #FF2A9D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 20%;
    width: 50%;
    font-size: 100%;
  }