.cuadro-formulario {
  background-color: #d9d9d9;
  padding-top: 7vh;
  padding-left: 7vh;
  padding-right: 7vh;
  padding-bottom: 7vh;
  width: 100%;
  margin-top: 0%;
  margin-left: 2%;
}
.formulario-anadir {
  width: 35%;
}
.formulario-anadir h2 {
  font-size: 4vh;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FF7001;
}
.formulario-anadir label {
  font-size: 2vh;
}
.formulario-anadir input[type="text"],
  input[type="number"], input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 2vh;;
}
.formulario-anadir input[type="date"], input[type="time"] {
    width: 50%;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 2vh;;
}
.boton-guardar {
  background-color: #FF7001;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 20%;
  width: 50%;
  font-size: 100%;
}
