header {
    background-color: rgba(255, 112, 1, 1);
    width: 100%;
    height: 100px;
}

h1 {
    font-family: 'Koulen';
    font-size: 60px;
    color: rgba(255, 112, 1, 1);
    padding: 2%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Adjust the height as needed */
}

iframe {
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family:'Oswald';
    text-align: center;
    background-color: rgba(255, 112, 1, 1);
    font-size: 30px;
    color: white;
    border-radius: 90px;
    padding: 1%;
    border: 0px;
    margin: 1%;
    width: 50%;
}


footer {
    width: 100%;
    height: 50%;
    font-family: 'Oswald';
    background-color: rgba(170, 214, 251, 1);
}

table {
    padding-top: 20px;
    border-collapse: separate;
    border-spacing: 0 10px; /* Adjust the vertical spacing between rows here */
}

tr {
    /* Optionally, you can apply padding to each table row */
    padding: 2px; /* Adjust the padding as needed */
    font-size: 40px;
    color: rgba(13, 137, 244, 1);
}

td {
    padding-left: 20px;
}

h2 {
    font-family: 'Oswald';
    text-align: center;
    font-size: 40px;
    color: rgba(13, 137, 244, 1);
}

.footer-container {
    overflow: hidden; /* Clear floats */
}

.footer-table {
    float: left;
    background-color: rgba(170, 214, 251, 1);
    padding: 20px;
}

.footer-info {
    float: right;
    text-align: left;
    width: 45%; /* Adjusted width */
    padding-right: 5%; /* Adjusted margin */
    background-color: rgba(170, 214, 251, 1);
    padding: 20px; /* Add padding to match the footer-table */
    padding: 10px 20px; /* Adjust padding top and bottom to move it up */
    margin-top: -20%; 
}

#direcion {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: rgba(13, 137, 244, 1);
    
}

/* Optional: Adjust styles for consistency */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-table,
.footer-info {
    margin-bottom: 0; /* Remove default margin */
}



.footer-img {
    text-align: left;
    margin-top: -7%;
    margin-left: -7.3%;
  }
  


  .docentes {
    position: relative;
    background-color: rgba(255, 206, 232, 1);
    border-radius: 40px;
    padding: 40px;
    margin-bottom: 20px;
    text-align: center; /* Center the content horizontally */
    width: 40%;
    display: flex;
    margin-top: 8%;
}

.docentes-info {
    text-align: left;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    order: 2; /* By default, place the info on the right */
}

.docentes-nickname {
    background-color: rgba(255, 43, 157, 1);
    padding: 5px 7px;
    color: white;
    border-radius: 30px;
    font-family: 'Oswald';
    z-index: 2; 
    position: relative;
    width: 40%;
    font-size: 30px;
}

.docentes-avatar {
    display: inline-block;
    position: absolute;
    bottom: -1%; /* Adjust the position of the avatar */
    width: 50%; /* Adjust the width of the avatar container */
}

.docentes:nth-child(odd) .docentes-info {
    order: 1; /* Place the info on the left for odd-numbered docentes */
}

.docentes:nth-child(odd) .docentes-nickname {
    left: -63%; /* Adjust the position of the nickname for odd-numbered docentes */
}

.docentes:nth-child(odd) .docentes-avatar {
    right: -150px; /* Adjust the position of the avatar for odd-numbered docentes */
}

.docentes:nth-child(even) .docentes-info {
    order: 2; /* Place the info on the right for even-numbered docentes */
}

.docentes:nth-child(even) .docentes-nickname {
    right: -63%; /* Adjust the position of the nickname for even-numbered docentes */
}

.docentes:nth-child(even) .docentes-avatar {
    left: -150px; /* Adjust the position of the avatar for even-numbered docentes */
}

