
.titulo-nos {
    font-family: 'Koulen';
    font-size: 80px;
    color: rgba(255, 112, 1, 1);
    padding: 2%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Adjust the height as needed */
}

.video-nos {
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.b-links {
    font-family:'Oswald';
    text-align: center;
    background-color: rgba(255, 112, 1, 1);
    font-size: 30px;
    color: white;
    border-radius: 90px;
    padding: 2px;
    border: 0px;
    margin: 1%;
    width: 40%;
}


/*--------------------------------------Footer-------------------------------------------*/

.footernos-t {
    width: 100%;
    height: 1%;
    font-family: 'Oswald';
    background-color: rgba(170, 214, 251, 1);
  }
  
  
  
  .footernos-tr {
    /* Optionally, you can apply padding to each table row */
    
    
    color: rgba(13, 137, 244, 1);
  }
  
  
  
  .footernos-mainnos {
    font-family: 'Oswald';
    text-align: center;
    font-size: 40px;
    color: rgba(13, 137, 244, 1);
    margin-right: 10%;
    margin-top: 45%;
  }
  
  
  .footernos-p{
    margin-left: -45%;
    font-size: 35px;
    margin-bottom: -5px;
    padding: -1px -1px;
  }
  
  .footernos-container {
    overflow: hidden; /* Clear floats */
  }
  
  .footernos-table {
    float: left;
    background-color: rgba(170, 214, 251, 1);
    
    padding-left: 2%;
    padding-right: 3%;
    border-collapse: separate;
    padding-bottom: 1px;
    margin-bottom: 2%;
  
  }
  
  
  .footernos-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  
  
  
  .footernos-img {
    text-align: left;
    margin-top: -7%;
    margin-right: 92%;
    z-index: 2;
  }
  
  
  
  .footernos-info {
    float: right;
    text-align: left;
    width: 45%; /* Adjusted width */
     /* Adjusted margin */
    background-color: rgba(170, 214, 251, 1);
    padding: 1%; /* Add padding to match the footer-table */
    padding: 1% 1%; /* Adjust padding top and bottom to move it up */
    margin-top: -20%; 
    z-index: 2;
    left: 0;
  }
  /*--------------------------------------------------------------------*/
  .imgnos{
      width: 22%;
  }
#direcion {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    color: rgba(13, 137, 244, 1);
    z-index: 2;
    width: 100%;
    margin-top: 5%;
    padding-right: 5%;
    
}


/*--------------------------------------Docentes-------------------------------------------*/

  .docentes-info {
    text-align: left;
    margin-left: 7%;
    margin-top: 8%;
}

.docentes-info p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 75%;
}

.docentes-container {
    display: flex;
    flex-wrap: wrap;
    
  }
    
  .docente-item {
    flex-basis: calc(46% - 10px); 
    margin-bottom: 20px; 
  }
  
  .docentes {
    position: relative;
    background-color: rgba(255, 206, 232, 1);
    border-radius: 40px;
    text-align: center;
    width: 400px;
    display: flex;
    margin-top: 8%;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .docentes-nickname {
    background-color: rgba(255, 43, 157, 1);
    color: white;
    border-radius: 30px;
    font-family: 'Oswald';
    z-index: 2;
    position: relative;
    left: 65%;
    width: 45%;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .docentes-avatar {
    display: inline-block;
    position: absolute;
    right: -49%; 
    bottom: 5%; 
  }
  
  .docentes-image { 
    border-radius: 50%;
    text-align: right;
    position: relative; 
    z-index: 1; 
    margin-top: -50px; 
    width: 280px;
    height: 280px;
  }
  















  .b-form {
    font-size: 36px;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    background-color: rgba(255, 42, 157, 1);
    border-radius: 40px;
}
