
.titulo-nos {
    font-family: 'Koulen';
    font-size: 80px;
    color: rgba(255, 112, 1, 1);
    padding: 2%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Adjust the height as needed */
}

.video-nos {
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.b-links {
    font-family:'Oswald';
    text-align: center;
    background-color: rgba(255, 112, 1, 1);
    font-size: 30px;
    color: white;
    border-radius: 90px;
    padding: 2px;
    border: 0px;
    margin: 1%;
    width: 40%;
}


/*--------------------------------------Footer-------------------------------------------*/

.footernosa-t {
    width: 100%;
    
    font-family: 'Oswald';
    background-color: rgba(170, 214, 251, 1);
}


.footernosa-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    
}




.footernosa-mainnos {
    font-family: 'Oswald';
    text-align: center;
    font-size: 40px;
    color: rgba(13, 137, 244, 1);
    margin-left: -1%;
    
}


.footernosa-p{
    margin-left: -50%;
    font-size: 35px;
}



.footernosa-table {
    
    background-color: rgba(170, 214, 251, 1);
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 0.5%;
    

}






.footernosa-img {
    text-align: left;
    margin-top: -7%;
    margin-right: 92%;
    z-index: 2;
  }
  


.footernosa-info {
    float: right;
    text-align: left;
    width: 90%; /* Adjusted width */
     /* Adjusted margin */
    
    
    z-index: 2;
    left: 0;

}

.imgnosa{
    width: 20%;
}

#direciona {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    color: rgba(13, 137, 244, 1);
    z-index: 2;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    
    
}


/*--------------------------------------Docentes-------------------------------------------*/





  .docentes-info {
    text-align: left;
    width: 64%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70%;
    padding: 20px;
}

.docentes-container {
    display: flex;
    flex-wrap: wrap;
   margin-right: 8%;
    
    
  }
  
  
  .docente-item {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px; 
  }
  
  .docentes {
    position: relative;
    background-color: rgba(255, 206, 232, 1);
    border-radius: 40px;
    
    text-align: center;
    max-width: 70%; 
    width: 50%;
    display: flex;
    margin-top: 8%;
    margin-bottom: 20px;
  }
  
  
  
  
  .docentes-nickname {
    background-color: rgba(255, 43, 157, 1);
    color: white;
    border-radius: 30px;
    font-family: 'Oswald';
    z-index: 2;
    position: relative;
    left: 65%;
    width: 45%;
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .docentes-avatar {
    display: inline-block;
    position: absolute;
    right: -48%; 
    bottom: -2%; 
  }
  
  .docentes-image {
    max-width: 130%; 
    border-radius: 50%;
    text-align: right;
    position: relative; 
    z-index: 1; 
    margin-top: -50px; 
    width: 300px;
    height: 300px;
  }
  



  .b-form {
    font-size: 36px;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    background-color: rgba(255, 42, 157, 1);
    border-radius: 40px;
}
