.redes{
    width: 100%;
}
.redFace{
    color: #0D89F4;
    font-size: 25px;
    padding-top: 4%;
}
.faceImg{
    padding-left: 30%;
}
.contenido{
    background-color: #AAD6FB;
    margin-top: -20px; /* Ajusta este valor según lo que necesites */
}
.derechaTable{
    text-align: right;
    padding-right: 10%;
    padding-top: 2%;
    color: #0D89F4;
    font-size: 20px;
}
.contenido{
    height: 150px;
}
.footer-img {
    margin-bottom: -40px; /* Ajusta este valor según lo que necesites */
}
@media (max-width: 768px){
    .footer-img{
        width: 20%;
    }
    .faceImg img{
        display: none;
    }
    .redFace{
        font-size: 10px;
        padding-left: 16%;
    }
    .derechaTable{
        font-size: 10px;
    }
    .contenido{
        height: auto;
        padding: 5%;
    }
}