.titulo-pos {
    font-family: 'Koulen';
    font-size: 80px;
    color: rgba(255, 42, 157, 1);
    padding: 2%;
}

.maestria-info{
    background-color: rgba(170, 214, 251, 1);
    width: 70%;
    border-radius: 20px;
    padding: 3%;
    margin-left: 10%;
    
}
.maestria {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 4%; /* Add some bottom margin for spacing */
    
    
    
  }
  
  .maestria-img {
     /* Add right margin to create space between image and text */
    z-index: 2;
    
    
  }
  .maestria-image{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-left: -75%;
  }
  
  .maestria-info p {
    margin: 0; /* Remove default margin for paragraphs */
    margin-right: 22%;
    font-size: 25px;
    width: 85%;
    font-family:'Roboto Condensed', sans-serif;
  }
  .maestria-head{
    text-align: center;
    font-size: 35px;
    margin-right: 20%;
    font-family: 'Oswald';
  }


/*-------------------------------------------------------------------------------------------*/




  .curso-info{
    background-color: rgba(219, 238, 150, 1);
    width: 70%;
    border-radius: 40px;
    padding: 3%;
    margin-right: 10%;
    
}
.curso {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 4%; /* Add some bottom margin for spacing */
  
    width: 100%;
  }
  
  .curso-img {
     /* Add right margin to create space between image and text */
    z-index: 2;
    
    
  }
  .curso-image{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-right: -80%;
  }
  
  .curso-info p {
    margin: 0; /* Remove default margin for paragraphs */
    margin-left: 14%;
    width: 85%;
    font-size:25px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .curso-head{
    text-align: left;
    font-size: 35px;
    margin-left: 18%;
    font-family: 'Oswald';
  }

  .container-pos{
    text-align: center;
  }
  