.titleInves {
    color: #FF7001;
    font-family: 'Koulen';
    font-size: 300%;
    padding: 3%;
    padding-left: 5%;
    text-align: left;
    
  }
  
  .bloque-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
  }
  .paginaInv{
    display: flex;
    flex-direction: column;
  }
  .subtitulo{
    color: #FF7001;
    text-align: center;
    padding-left: 5%;
    font-family: 'Oswald';
    font-size: 250%;

  }
  .acciones{
    padding: 2%;
   margin: 2%;
  }
  .presentee{
    padding-top: 10%;
    padding-bottom: 15%;
    
  }

  @media (max-width: 768px) {
    .bloque-container {
      flex-direction: column;
      align-items: center;
      padding-left: 0%;
      padding-right: 0%;
    }
    .titleInves {
        font-size: 200%;
        padding-left: 5%;
    }
  }